<div class="row">
    <div class="jumbotron" ng-controller="cardCtrl" ng-click="newRandomCard()" style="min-height: 200px; ">
        <h2>{{newRandomCard()}}</h2>
    </div>
</div>
<div class="row">
	<div class=".col-md-offset-3">
    <div class="btn-group" role="group" aria-label="...">
        <!--   <button type="button" class="btn btn-default">Left</button> -->
        <button type="button" class="btn btn-lg btn-primary" ng-click="newRandomCard()">Get a new card</button>
        <!--   <button type="button" class="btn btn-default">Right</button>-->
    </div>
</div>
</div>

